<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
</head>
<body class="container w-75 mx-auto pb-5">
<header th:replace="fragments :: header"></header>
<h3 th:unless="${carServices} and ${carServices.size()}">No Car services!</h3>
<a href="create-carservice" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Add</a>
<table th:if="${carServices.size() > 0}" class="table table-hover">
    <th>Name</th>
    <th>Capacity</th>
    <th>Edit</th>
    <th>Manage</th>
    <th>Delete</th>
    <tr th:each="carService : ${carServices}">
        <td th:text="${carService.name}"></td>
        <td th:text="${carService.maxRepairingCars}"></td>
        <td><a class="btn btn-info" th:href="@{'/carservices/edit/'+${carService.id}}">Edit</a></td>
        <td><a class="btn btn-info" th:href="@{'/carservices/'+${carService.id}+'/manage'}">Manage</a></td>
        <td><a class="btn btn-danger" th:href="@{'/carservices/delete/'+${carService.id}}">Delete</a></td>
    </tr>
</table>
</body>
<footer th:replace="fragments :: footer"></footer>
</html>