<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
</head>
<body class="container w-75 mx-auto pb-5">
<header th:replace="fragments :: header"></header>
<!--<a href=create-repair" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">New repair</a>-->
<div class="container">
    <div class="row">
        <div class="col-md-auto" style="height: 300px;overflow: auto">
            <h3>Pricelist</h3>
            <h4 th:each="pricelist : ${carService.getPricelist()}">
                <h4 th:text="${pricelist.getQualification().name}+' = '+${pricelist.getPrice()}"></h4>
            </h4>
        </div>
        <div class="col-md-auto">
            <a class="btn btn-info" th:href="@{'/carservices/'+${carService.id}+'/prices/create-pricelist'}">Add new service</a>
            <h3 th:text="'Current capacity ' + ${repairs.size()} + '/' + ${carService.maxRepairingCars}"></h3>
        </div>
    </div>
</div>

<table  class="table table-hover">
    <th>Vehicle</th>
    <th>Customer</th>
    <th>Edit</th>
    <th>Delete</th>
    <tr th:each="repair : ${repairs}">
        <td th:text="${repair.vehicle.model}"></td>
        <td th:text="${repair.customer.username}"></td>
        <td><a class="btn btn-info" th:href="@{'/carservices/edit/'+${repair.id}}">Edit</a></td>
        <td><a class="btn btn-danger" th:href="@{'/carservices/delete/'+${repair.id}}">Delete</a></td>
    </tr>
</table>
</body>
<footer th:replace="fragments :: footer"></footer>
</html>